
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--text);
}
body, input, textarea, button {
font: 400 1rem "Inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    --blue: #5965e0;
    --blue-dark: #4953b8;
    --blue-twitter: #2aa9e0;
    --title: #2a384d;
    --red: #dc3545;
    --text: #666;
    --text-highlight: #b3bb09ff;
    -background: #f2f3f5;
    --green: #28a745;
    --white: #fff;
    --gray-line: #dcdde0;
}

@media(max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media(max-width: 720px){
    html{
        font-size: 87.5%;
    }
}



